
      a.btn(href="/site/articleListView") Back

div#menu_wrapper(ng-init="menu_template_src = 'views/menuFront'" ng-include src="menu_template_src")
    div.container
        h2 {{article.title}}
        h4 Author: {{article.author}}
        p Date: {{article.date}}
        span {{article.category}}
        div.articlebody
            p {{article.body}}

