div#menu_wrapper(ng-init="menu_template_src = 'views/menuFront'" ng-include src="menu_template_src")
div.container
    h2 Archive of {{archive.month}}
        ul.archive-list
            li: a(href="/articles/"}}