include menuLogin
div.row
    div.container
        h3 Welcome, {{user.name}}
        table.statistics
            h4 Your statistics
            thead
                th Number of articles
                th Number of categories
                th Number of users
            tr(ng-repeat="items in articles")
            tr(no-repeat="items in categories")
            tr(ng-repeat="items in users")
            tr No records to display

    a(href="/login") Login 