div#menu_wrapper(ng-init="menu_template_src = '/views/partials/templates/menu.jade'" ng-include src="menu_template_src")
    div.container
        div#form_container
            form#add_article(action={{action_url}} method='POST')
                label Title
                    input(type="text" name="title" value="{{edit.title}}")
                label Short description
                    textarea(name="short_description content" cols="20" rows="10"){{edit.short_description}}
                label Description
                    textarea(name="description content" cols="50" rows="10"){{edit.description}}
                label Image
                    input(type="file" name="image" value='Choose file')
                label Select category
                    select(name="category")
                        option Select
                        option(ng-repeat="item in categories" value="{{category.id}}" selected="{{item.selected}}"){{category.title}}
            button#submit_article(ng-click="save()") Submit

  .control-group
    .controls
      a.btn(ng-click="cancel()") Cancel
      button.btn.btn-success(type="submit") Save