include menuLogin
//-if(message)
//	div#note #{message}
div#login_container
	
	form#login(action="/login" method="post") 
			label Username:
				div#input
					input(type="text" name="email" placeholder=" Enter your e-mail")
												
			label Password:
				div#input
					input(type="text" name="password" placeholder=" Enter your password")

			button(type="submit" ng-click="login()") Log in
	br
	div Or
		a(href="/signup")  signup
		