include menuLogin

div#login_container
	-if(message)
		div#note #{message}
	
	form#login(action="/admin/login" method="post") 
			label Username:
				div#input
					input(type="text" name="email" placeholder=" Enter your e-mail")
												
			label Password:
				div#input
					input(type="text" name="password" placeholder=" Enter your password")

			button(type="submit" ng-click="login()") Log in
	br
	div Or
		a(href="/admin/signup")  signup
			