div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
       
          a.brand(href="/admin") 
            b Admin panel
          a.brand()
          a.brand() 
          a.brand()  
          a.brand(href="/admin") Articles
          a.brand(href="/admin") Categories
          a.brand(href="/admin") Users
          a.brand(href="/articles") Show site
                        

    
