admin-menu
div.row

    div.container
      //-if(user.email)
      //      h3 Welcome, your e-mail is:#{user.email}

      div Hello, {{userEmail}}
      div Hello your id is: {{userId}}
      div You write {{articles.length}} articles.
      div You created {{categories.length}} category.
      div It is {{users.length}} users here


      div(style="margin-bottom:20px") Number of users: {{users.length}}
      div(ng-switch="!!users.length")
        table.table.table-striped(ng-switch-when="true")
          thead
            td E-mail
            td Password
          tbody
            tr(ng-repeat="user in users")
              td {{user.email}}
              td {{user.password}}

      article(ng-repeat="article in articles")
                p {{article}}

      div.col-md-4
         button.btn.btn-success(ng-click="newArticle()") New Article