//body(ng-app="myApp" ng-controller="ProfileCtrl" ng-init="logged_in_user = {req.user}")
include ../../../scripts
body(ng-app="myAdmin" ng-init="logged_in_user = {req.user}")
include menuAdmin
div.row

    div.container
    -if(user.email)
        h3 Welcome, #{user.email}
        //-if(user.email)
        //  div#note #{user.email}
        table.statistics
            h4 Your statistics
            thead
                th Number of articles
                th Number of categories
                th Number of users
            tr(ng-repeat="items in articles")
            tr(no-repeat="items in categories")
            tr(ng-repeat="items in users")
            tr No records to display
               
    //div YOUR E-MAIL IS {{user.email}}
    //div YOUR E-MAIL IS {{logged_in_user}}

    p Number of articles: {{articles.length}}
    p Number of categories: {{categories.length}}