//body(ng-app="myApp" ng-controller="ProfileCtrl" ng-init="logged_in_user = {req.user}")
body(ng-init="logged_in_user = {req.user}")
include menuAdmin
div.row

    div.container
    -if(user.email)
        h3 Welcome, #{user.email}
        //-if(user.email)
        //  div#note #{user.email}
        table.statistics
            h4 Your statistics
            thead
                th Number of articles
                th Number of categories
                th Number of users
            tr(ng-repeat="items in articles")
            tr(no-repeat="items in categories")
            tr(ng-repeat="items in users")
            tr No records to display
               
    div.container YOUR E-MAIL IS {{user}}


div.row
    div.container
        h2 Articles
        p Number of articles: {{articles.length}}
        p Number of categories: {{categories.length}}
        div.col-md-8

            article(ng-repeat="article in articles")
                a(href="/articles/{{article._id}}") {{article.title}}
                p Category: {{ article.category }}
                p {{ article.date }}
                p {{ article.author }}
                p {{ article.smallbody }}
                
        div.col-md-4
         button.btn.btn-success(ng-click="newArticle()") New Article
         h2 Category
         
         div(ng-repeat="article in articles")
          p
            a(href="/articles/category/{{article.categoryId}}") {{article.category}}
         h2 Archive
        
         div(ng-repeat="article in articles")
           p
             a(href="/articles/category/{{article.categoryId}}") {{article.category}}