doctype html
html(ng-app="myAdmin")
  head
    meta(charset='utf8')
    //base(href='/jsminiCms')
    base(href='/')
    title Verajulia - Admin
    //link(rel='stylesheet', href='/css/bootstrap.css')
    //link(rel='stylesheet', href='/css/app.css')
    //link(rel='stylesheet', href='/css/admincss.css')
    include ../../../scripts
  body(ng-app="myAdmin" ng-controller="ProfileCtrl")


    include menuAdmin
    //include menuLogin
    //include partials/site/articlesListView
    //include partials/admin/templates/login
   
    div.row

        div.container
        -if(user.email)
            h3 Welcome, your e-mail is:#{user.email}
            h3 Welcome, your password is:#{user.password}
            //-if(user.email)
            //  div#note #{user.email}
            table.statistics
                h4 Your statistics
                thead
                    th Number of articles
                    th Number of categories
                    th Number of users
                tr(ng-repeat="items in articles")
                tr(no-repeat="items in categories")
                tr(ng-repeat="items in users")
                tr No records to display

        div(ng-init="logged_in_user = '#{user.email}' ") 
                   
        div YOUR E-MAIL IS {{logged_in_user}}

        
            p Number of articles: {{articles.length}}
            p Number of categories: {{categories.length}}


          div.footer
        p &copy; Verajulia 2014
