login-menu
//-if(message)
//	div#note #{message}
div#login_container
	-if(message)
		div#note #{message}
	
	form#login(action="/admin/signup" method="post") 
			label E-mail:
				div#input
					input(type="text" name="email" placeholder=" Enter your e-mail")
												
			label Password:
				div#input
					input(type="text" name="password" placeholder=" Enter your password")

			//button(type="submit" ng-click="signup()") Signeup
			button(type="submit") Signup

	p Already have an account? 
		a(href="/admin/login") Login