//Created by juliarietveld on 12/08/14.
//BEGIN PRE-FOOTER
div.pre-footer
    div.container
        div.row
            //BEGIN BOTTOM ABOUT BLOCK
            div.col-md-4.col-sm-6.pre-footer-col
                h2 About us
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat.
                div.photo-stream
                    h2 Photos Stream
                        ul.list-unstyled
                            li
                                a(href="#")
                                    img(alt="" src="img/img1-small.jpg")
                            li
                                a(href="#")
                                    img(alt="" src="img/img2-small.jpg")
                            li
                                a(href="#")
                                    img(alt="" src="img/img3-small.jpg")
                            li
                                a(href="#")
                                    img(alt="" src="img/img4-small.jpg")
            //END BOTTOM ABOUT BLOCK
            //BEGIN BOTTOM CONTACTS
            div.col-md-4.col-sm-6.pre-footer-col
                h2 Our Contacts
                address.margin-bottom-40
                    | Bank gatan 4
                    br
                    | Malmö, Sweden
                    br
                    | Phone: +46 2136134
                    br
                    | Email:
                    a(href="mailto:info@verajulia.com")  info@verajulia.com
                    br
                    | Skype:
                    a(href="skype:julia.rietveld")  Julia Rietveld
                div.pre-footer-subscribe-box.pre-footer-subscribe-box-vertical
                    h2 Newsletter
                    p Subscribe to our newsletter and stay up to date with the latest news and deals!
                    form(action="#")
                        div.input-group
                            input(type="text" placeholder="youremail@mail.com" class="form-control")
                        span.input-group-btn
                        button.btn.btn-primary(type="submit") Subscribe
            //END BOTTOM CONTACTS
            //BEGIN TWITTER BLOCK
            div.col-md-4.col-sm-6.pre-footer-col
                h2.margin-bottom-0 Latest Tweets
                    a.twitter-timeline(href="https://twitter.com/JuliaRietveld1" data-widget-id="497694495610109952") Tweets by @JuliaRietveld1
                    script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            //END TWITTER BLOCK
//BEGIN FOOTER
div.footer
    div.container
        div.row
        //BEGIN COPYRIGHT
        div.col-md-6.col-sm-6.padding-top-10
            | 2014 © Verajulia. ALL Rights Reserved.
            a(href="#") Privacy Policy |
            a(href="#") Terms of Service
        //END COPYRIGHT
        //BEGIN PAYMENTS
        div.col-md-6.col-sm-6
            ul.social-footer.list-unstyled.list-inline.pull-right
                li
                    a(href="#")
                        i.fa.fa-facebook
                li
                    a(href="#")
                        i.fa.fa-google-plus
                li
                    a(href="#")
                        i.fa.fa-dribbble
                li
                    a(href="#")
                        i.fa.fa-linkedin
                li
                    a(href="#")
                        i.fa.fa-twitter
                li
                    a(href="#")
                        i.fa.fa-skype
                li
                    a(href="#")
                        i.fa.fa-github
                li
                    a(href="#")
                        i.fa.fa-youtube
                li
                    a(href="#")
                        i.fa.fa-dropbox
        //END PAYMENTS
//END FOOTER
