doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/jsminiCms')
    //base(href='/')
    title Verajulia - a new MEAN stack based CMS
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    
    link(rel='stylesheet', href='/css/app.css')
  body
    include menuFront
    include scripts
