doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/jsminiCms')
    //base(href='/')
    title Verajulia - a new MEAN stack based CMS
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/components.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/style-responsive.css')
  body

    include menuFront
    //include partials/site/articlesListView
    

   
    div.container
        div.row
        div.span12
            ng-view

          div.footer
        p &copy; Verajulia 2014


    include scripts