div.header
    div.container
        a.site-logo(href="#"): img(src="img/logo.png" alt="Verajulia - cms of the future")
        a.mobi-toggler(href="#"): i.fa.fa-bars
nav.navbar.navbar-default(role="navigation")
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href="/admin") Verajulia - mini CMS
                img()
        div.collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav
                 li.active: a(href="/site/articleListView") Home
            ul.nav.navbar-nav.navbar-right
                li: a(href="views/partials/admin/templates/login") Login
    
    
