script(src='js/lib/angular/angular.js')
script(src='js/lib/angular/angular-resource.js')
script(src='js/appAdmin.js')
script(src='js/servicesAdmin.js')
script(src='js/controllers/admin/admincontroller.js')
script(src='js/controllers/admin/adminmenucontroller.js')
script(src='js/controllers/admin/articleaddcontroller.js')
script(src='js/controllers/admin/articlescontroller.js')
script(src='js/controllers/admin/categoriesaddcontroller.js')
script(src='js/controllers/admin/categoriescontroller.js')
script(src='js/controllers/admin/errorcontroller.js')
script(src='js/controllers/admin/logincontroller.js')
script(src='js/controllers/admin/userscontroller.js')
script(src='js/controllers/admin/LoginCtrl.js')
script(src='js/controllers/admin/AdminCtrl.js')

