script(src='js/lib/angular/angular.js')
script(src='js/lib/angular/angular-resource.js')
script(src='js/app00.js')
script(src='js/servicesAdmin.js')
//script(src='js/controllers/admin/admincontroller.js')
script(src='js/controllers/admin/adminmenucontroller.js')
script(src='js/controllers/admin/articleaddcontroller.js')
script(src='js/controllers/admin/articlescontroller.js')
script(src='js/controllers/admin/categoriesaddcontroller.js')
script(src='js/controllers/admin/categoriescontroller.js')
script(src='js/controllers/admin/errorcontroller.js')
script(src='js/controllers/admin/logincontroller.js')
script(src='js/controllers/admin/userscontroller.js')
script(src='js/controllers/admin/LoginCtrl.js')
script(src='js/controllers/admin/AdminCtrl.js')
script(src='js/controllers/admin/ArticleCtrl.js')
script(src='js/controllers/admin/ArticleEditCtrl.js')
script(src='js/controllers/admin/ProfileCtrl.js')

script(src='js/lib/jquery.js')
//script(src='js/app.js')
script(src='js/services.js')
script(src='js/controllers/site/ArticlesIndexCtrl.js')
script(src='js/controllers/site/ArticlesShowCtrl.js')
script(src='js/controllers/site/ArticlesCategoryCtrl.js')

//script(src='js/lib/moment/moment.js')
//script(src='js/lib/angular-moment/angular-moment.js')
