a.btn(href="/admin/articles/listview") Back
h3 Edit Article
        div#form_container
            form#add_article
                label Title
                    input(type="text" name="title" value="{{article.title}}")
                label Select category
                    select(name="category")
                        option Select
                        option(ng-repeat="category in categories" value="{{category.name}}" selected="{{item.selected}}"){{category.name}}
                label Body
                    textarea(name="body content" cols="50" rows="10"){{article.body}}

            button#submit_article(ng-click="save()") Submit
            button.cancel Cancel