div.container
    h3 Edit Article
    div#form_container
        form#add_article(name="form", ng-submit="submit()", novalidate)

            .control-group(ng-class="errorClass('title')")
                label.control-label(for="title") Title
                .controls
                  input(ng-model="article.title", type="text", name="title", placeholder="Title", require)

            
            .control-group(ng-class="errorClass('category')")
                label.control-label(for="category") Category
                .controls
                  select(ng-model="article.categoryId", name="category", require, ng-options="category._id as category.name for category in categories", autofocus)

            .control-group(ng-class="errorClass('body')")
                label.control-label(for="body") Body
                .controls
                  textarea(ng-model="article.body", type="text", name="body", placeholder="Body", require)

            .control-group
                .controls
                  a.btn(ng-click="cancel()") Cancel
                  button.btn.btn-success(type="submit") Save


