bitton.back:a(href="/admin")
div#menu_wrapper(ng-init="menu_template_src ="/views/menuAdmin"" ng-include src="menu_template_src")
    div.container
        h3 Edit Article
        div#form_container
            form#add_article(action={{action_url}} method='POST')
                label Title
                    input(type="text" name="title" value="{{edit.title}}")
                label Select category
                    select(name="category")
                        option Select
                        option(ng-repeat="item in categories" value="{{category.id}}" selected="{{item.selected}}"){{category.title}}
                label Body
                    textarea(name="body content" cols="50" rows="10"){{edit.body}}

            button#submit_article(ng-click="save()") Submit
            button.cancel Cancel